<h1 style="margin-bottom: 40px;"> <%= @movie["title"] %> </h1>
<div style="margin-top: 20px;"></div>
<div class="row" style="margin-bottom: 40px;">
  <div class="col-md-2">
    <img src="<%= @movie["posters"]["profile"] %>">
  </div>
  <div class="col-md-10">
    <h3 style="margin-top: 0;"> Synopsis </h3>
    <p> <%= @movie["synopsis"] %> </p>
  </div>
</div>
<h3> Critic Consensus </h3>
<p> <%= @movie["critics_consensus"] %> </p>

<h3> Write A Review </h3>
<%= erb :form_layout %>

<h1> All Reviews: </h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Review </th>
    <th>Time Written </th>
  </tr>
<% @reviews.each do |review| %>
  <% if review['id'] == params[:id] || true %>
    <tr>
      <td><a href="/movies/<%= @movie['id'] %>/review/<%= review['REVIEW_ID'] %>"> <%= review['NAME'] %> </a></td>
      <td> <%= review['REVIEW'] %> </td>
      <td> <%= review['TIME'] %> </td>
    </tr>
  <% end %>
<% end %>
